@import './base.css';

/* Stelle sicher, dass das Layout 100% frei ist */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* #app darf kein eigenes Layout bestimmen */
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Standard Link Styling */
a {
  text-decoration: none;
  color: inherit;
}
